concurrentTokenization-checkpoint.ipynb
project1/data
project1/trec_eval.9.0
.idea
*.ipynb_checkpoints
*.p

project1/mapReduceIndex.json
project1/mapReduceIndex.parquet
._SUCCESS.crc
.part-00000-f6904296-9955-4c5d-9115-914666c90467.json.crc
project1/wordCountPerTopic.json
project1/evalR/CranfieldMCP/.Rproj.user
CranfieldMCP.Rproj
.Rproj.user
.RData
.Rhistory
project2/data/genres
project2/__pycache__
